<%# frozen_string_literal: true %>
<p id="notice"><%= notice %></p>

<h1>Shorten Links</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Slug</th>
      <th>Custom</th>
      <th>Deleted at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shorten_links.each do |shorten_link| %>
      <tr>
        <td><%= shorten_link.url %></td>
        <td><%= shorten_link.slug %></td>
        <td><%= shorten_link.custom %></td>
        <td><%= shorten_link.deleted_at %></td>
        <td><%= link_to 'Show', shorten_link %></td>
        <td><%= link_to 'Edit', edit_shorten_link_path(shorten_link) %></td>
        <td><%= link_to 'Destroy', shorten_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shorten Link', new_shorten_link_path %>
